[submodule "sequelize-fulltext-search"]
	path = sequelize-fulltext-search
	url = https://github.com/yrong/sequelize
[submodule "postman_simplify"]
	path = postman_simplify
	url = https://github.com/yrong/postman_simplify
[submodule "koa-neo4j"]
	path = koa-neo4j
	url = https://github.com/assister-ai/koa-neo4j
[submodule "file-upload"]
	path = file-upload
	url = https://github.com/yrong/file-upload
